
#quizSec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42rem;
  /* background-color: red;   */
  gap: 1rem;
  transform: translateY(100%);
  transition: opacity 1.5s ease, transform 1.5s ease;

}
#quizHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    color: #fff;
}
#htmlChangingText{
    transform: translateY(-500%);
    transition: opacity 1.5s ease, transform 1.5s ease;  
    font-size: 1.5rem;
    height: 2rem;
}

/* // book styling  */
.book {
  position: relative;
  width: 500px;
  height: 650px;
  transition: transform .5s;
  }
  /* // paper style  */
  .paper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      perspective: 1500px;
}
/* // fornt and back paper  */
.front,
.back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 1s;
  border-radius: 7px;
}
.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 4px solid #67C7FD;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.back {
  z-index: 0;
  border-left: 4px solid #67C7FD;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.frontContent,
.backContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.frontContent p,
.backContent p{
color: black;
letter-spacing: 2px;
font-weight: 400;
font-size: 1rem;
}
.backContent {
    transform: rotateY(180deg);
}

/* // button style  */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform .5s;

}

button:focus {
  outline: none;
}
button:hover {
  color: #636363;
}
.bxs-left-arrow{
    color: rgba(24, 24, 24, 0.747);
    transition: trasnform .5s;
}
.bxs-left-arrow:hover{
    transform: translateX(2px);
}
.bxs-right-arrow{
    color: rgba(24, 24, 24, 0.747);
    transition: trasnform .5s;
}
.bxs-right-arrow:hover{
    transform: translateX(2px);
}

/* // paper stack overflow handling  */
#p1 {
  z-index: 5;
}
#p2 {
  z-index: 4;
}
#p3 {
  z-index: 3;
}
#p4 {
  z-index: 2;
}
#p5 {
  z-index: 1;
}

/* // flipped paper  */
.flipped .front,
.flipped .back{
transform: rotateY(-180deg);
}

/* //// css for cover for each page quiz */
/* // html 5  */
#p1 .front .html{
    background-image: url(../img/Html\ Quiz.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* // css3  */
#p1 .front .css3{
    background-image: url(../img/css3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* // cpp  */
#p1 .front .cpp{
    background-image: url(../img/cpp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* // js  */
#p1 .front .js{
    background-image: url(../img/js.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* // Ts  */
#p1 .front .ts{
    background-image: url(../img/ts.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* // react  */
#p1 .front .react{
    background-image: url(../img/react.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
